:root {
  /* Typography */
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-monospace: "Courier New", Courier, monospace;
  --font-display: var(--font-monospace);
}
